# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
*.stp
*.hex
*.ini
*._.DS_Store*
*.pcd


.vscode/*
.idea/*

Outline.md
Outline.pdf

Courses/*
*/build/*
*/devel/*
.catkin_workspace
Chrome/*
OriginBot/src/*
