
.pc-barrer {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  height: 100%;
}
.ap-banner {
  display: none;
}
.pc-barrer .bg_banner1 {
  background: url(/static-dist/activity/img/banner_01@2x.png) no-repeat center top / cover;
  text-align: center;
  height: 500px;
  top: 60px;
}
.pc-barrer .bg_banner1 .logo {
  width: 200px;
  height: 58px;
  margin-top: 30px;

}
.pc-barrer .bg_banner2 {
  background: url(/static-dist/activity/img/banner_02@2x.png) no-repeat center top / cover;
  height: 795px;
}
.pc-barrer .bg_banner3 {
  background: url(/static-dist/activity/img/banner_03@2x.png) no-repeat center top / cover;
  height: 1930px;
}
.ap-main {
  width: 1080px;
  margin: auto;
}
.ap-course-content {
  background: url(/static-dist/activity/img/content_bj@2x.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 1930px;
  display: flex;
}
.activity-page {
  padding-top: 650px;
}
.activity-page .ap-course-list {
  margin: auto;
  width: 72%;
  margin-top: 200px;
}
.pc-ap-course-item {
  display: block;
}
.m-ap-course-item {
  display: none;
}
.activity-page .ap-course-list .ap-course-item {
  position: relative;
  width: calc(100% - 8.4%);
  padding: 4.2%;
  background: #FFFFFF;
  cursor: pointer;
  box-sizing: content-box;
  border: 2px solid rgba(229,174,66,1);
  border-radius: 0px 10px 10px 10px;
  margin-bottom: 81px;
}

.activity-page .ap-course-list .ap-course-item .pc-ap-course-title {
  position: absolute;
  top: -42px;
  left: -2px;
  /* width: 176px; */
  height: 40px;
}
.activity-page .ap-course-list .ap-course-item .pc-ap-course-title img {
  width: 100%;
  height: 100%;
}
.activity-page .ap-course-list .ap-course-item .m-ap-course-title {
  position: absolute;
  top: -31px;
  left: -2px;
  /* width: 125px; */
  height: 31px;
  display: none;
}
.activity-page .ap-course-list .ap-course-item .m-ap-course-title img {
  width: 100%;
  height: 100%;
}
.activity-page .ap-course-list .pc-ap-course-item .course-cover {
  width: 228px;
  height: 128px;
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
}
.activity-page .ap-course-list .pc-ap-course-item .course-cover img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.activity-page .course-info {
  display: inline-block;
  width: calc(100% - 228px - 20px);
  vertical-align: middle;
}
.activity-page .course-info .course-wrap-detail {
  display: flex; 
  justify-content: space-between;
  align-items: baseline; 
  margin-bottom: 17px;
}
.activity-page .course-detail .course-name {
  font-size: 18px;
  font-family: PingFang-SC-Heavy;
  color: #333333;
  font-weight: 800;
}
.activity-page .course-detail .course-duration {
  font-size: 12px;
  color: #AAAAAA;
  font-weight: 200;
  line-height: normal;
  margin-top: 6px;
}
.activity-page .course-info .course-choose-btn {
  width: 62px;
  height: 24px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
}
.course-choose-btn.buy, .m-course-choose-btn.buy {
  background: #FFFFFF;
  color: #D29000;
  border: 1px solid rgba(242,178,38,1);
}
.course-choose-btn.purchased, .m-course-choose-btn.purchased {
  background: #F8FCFF;
  border: 1px solid rgba(199,199,199,1);
  color: #C7C7C7;
}
.activity-page .course-info .course-introduce {
  font-size: 14px;
  color: #7D7D7D;
  line-height: 22px;
  font-weight: 400;
  font-family: PingFang-SC-Heavy;
  text-align: justify;
}
.activity-tips {
  margin: 60px 0;
  background: url(/static-dist/activity/img/huodongxuzhi_pic@2x.png) no-repeat;
  background-size: 100% 100%;
  height: 473px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.activity-tips-list {
  width: 74%;
  font-size: 20px;
  text-align: justify;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 47px;
  font-weight: 400;
}
.activity-tips-list .activity-tips-list-item {
  margin-bottom: 14px;
}

.activity-tips-list span {
  font-size: 20px;
  color: #FFFF00;
  letter-spacing: 0;
  line-height: 26px;
  font-weight: 700;
}
.ap-buy-position {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.ap-buy-position .ap-buy-block {
  width: 1080px;
  height: 90px;
  margin: auto;
  background-image: linear-gradient(180deg, #FFF5E5 0%, #FFDAAD 100%);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.activity-price-wrap .pc-activity-price {
  display: inline-block;
}
.activity-price-wrap .m-activity-price {
  display: none;
}
.activity-price {
  font-size: 14px;
  color: #8A4C00;
  letter-spacing: 0;
  display: inline-block;
  font-weight: 400;
}
.activity-price span {
  font-size: 21px;
  color: #F53121;
  letter-spacing: 0;
  font-weight: 700;
}
.activity-price em {
  font-size: 60px;
  color: #F53121;
  letter-spacing: 0;
  font-style: normal;
  font-family: DINAlternate-Bold;
  font-weight: 700;
}
.ap-buy-block .buy-now-btn {
  width: 142px;
  height: 52px;
  background-image: url(/static-dist/activity/img/button_pic@2x.png);
  background-size: 100% 100%;
  /* border: 1px solid rgba(255,255,228,1); */
  border-radius: 26px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
}
.ap-buy-block .tips-icon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 76px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 400;
  margin-left: 5px;
  background-image: linear-gradient(180deg, #FFCB84 0%, #FFA63B 100%);
  border-radius: 2px 10px 10px 8px;
}
.ap-buy-block .buy-class-tips {
  display: inline-block;
  margin-left: 40px;
  font-size: 14px;
  color: #C0843C;
  letter-spacing: 0;
  font-weight: 400;
}
.ap-dialog-model {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0,0,0,0.50);
}
.confirm-buy-dialog {
  position: absolute;
  width: 400px;
  height: 238px;
  z-index: 2;
  left: 50%;
  top: 50%;
  background: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.confirm-buy-title {
  width: 100%;
  height: 44px;
  background-image: linear-gradient(180deg, #FADC6C 0%, #F3B526 100%);
  font-size: 14px;
  color: #8A4C00;
  letter-spacing: 0;
  font-weight: 400;
  text-indent: 20px;
  line-height: 44px;
  border-radius: 10px 10px 0px 0px;
}
.confirm-buy-content {
  padding: 15px 13px;
  font-size: 0;
}
.confirm-buy-content img {
  width: 150px;
  height: 84px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.confirm-buy-content p {
  font-size: 18px;
  color: #333333;
  font-weight: 800;
  font-family: PingFang-SC-Heavy;
  display: inline-block;
  vertical-align: middle;
}
.ap-dialog-model .dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.ap-dialog-model .btn {
  width: 90px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}
.ap-dialog-model .btn.btn-cancel {
  margin-right: 10px;
  border: 1px solid rgba(226,193,153,1);
  color: #CA914C;
}
.ap-dialog-model .btn.btn-confirm {
  background-image: linear-gradient(180deg, #FADC6C 0%, #F3B526 100%);
  color: #8A4C00;
  margin-right: 20px;
}



@media screen and (max-width: 767px) {
  
  .ap-course-content {
    background-image: url(/static-dist/activity/img/m_content_c.png);
    background-size: 100% 100%;
    height: auto; 
    position: relative;
    margin-top: 45px;
    margin-bottom: 100px;
  }
  .ap-course-content::before {
    background-image: url(/static-dist/activity/img/m_content_t.png); background-size: 100% 100%; 
    content: ''; position: absolute; top: -1rem; 
    width: 100%; height: 1rem;
  }
  .ap-course-content::after {
    background-image: url(/static-dist/activity/img/m_content_b.png); background-size: 100% 100%; 
    content: ''; position: absolute; bottom: -.6rem; 
    width: 100%; height: .6rem;
  }
}

@media screen and (max-width: 640px) {
  .pc-barrer .bg_banner1 {
    display: none;
  }
  .ap-banner {
    width: 344px;
    height: 276px;
    background: url(/static-dist/activity/img/Mtitle_pic@2x.png) no-repeat;
    background-size: 100% 100%;
    display: block;
    margin: auto;
  }
  .pc-barrer .bg_banner2 {
    background: url('/static-dist/activity/img/top_banner@2x.png') no-repeat;
    background-size: 100% 100%;
    top: 0px;
    width: 100%;
    height: 33.6%;

  }
  .pc-barrer .bg_banner3 {
    background: url(/static-dist/activity/img/bottom_banner@2x.png) no-repeat;
    background-size: 100% 100%;
    top: 0px;
    width: 100%;
    height: 66.4%;
  }
  .activity-page {
    padding-top: 18px;
    padding-bottom: 30px;
  }
  .ap-main {
    width: auto;
    padding: 0 12px;
  }
  
  .activity-page .ap-course-list .ap-course-item .pc-ap-course-title {
    display: none;
  }
  .activity-page .ap-course-list .ap-course-item .m-ap-course-title {
    display: block;
  }
  .pc-ap-course-item {
    display: none;
  }
  .m-ap-course-item {
    display: block;
  }
  .activity-page .ap-course-list .ap-course-item {
    margin-bottom: 65px;
  }
  .m-course-wrap-info {
    display: flex;
    justify-content: start;
  }
  .m-course-wrap-info .m-course-cover {
    display: inline-block;
    width: 134px;
    margin-right: 8px;
  }
  .m-course-wrap-info .m-course-cover img {
    width: 134px;
    height: 75px;
    border-radius: 5px;
  }
  .m-course-info {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .m-course-info .m-course-name {
    font-size: 16px;
    color: #333333;
    font-family: PingFang-SC-Heavy;
    font-weight: 800;
  }
  .m-course-info .m-course-position {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .m-course-position .m-course-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .m-course-message .m-course-duration {
    font-size: 12px;
    color: #AAAAAA;
    font-weight: 200;
  }
  .m-course-message .m-course-choose-btn {
    width: 50px;
    height: 24px;
    
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-ap-course-item .m-course-introduce {
    margin-top: 10px;
    font-size: 12px;
    color: #ACACAC;
    text-align: justify;
    font-family: PingFang-SC-Heavy;
    line-height: 20px;
    font-weight: 400;
  }
  .activity-page .ap-course-list {
    margin-top: 0px;
    width: auto;
    padding: 0 9%;
    padding-top: 7%;
  }
  .activity-page .ap-course-list .pc-ap-course-item {
    margin-bottom: 51px;
    
  }
  .activity-tips-list {
    font-size: 14px;
    width: 77%;
    margin-top: 15px;
    line-height: 16px;
  }
  .activity-tips-list span {
    font-size: 14px;
    line-height: 18px;
  }
  .activity-tips {
    background: url(/static-dist/activity/img/Mcontent2@2x.png) no-repeat;
    background-size: 100% 100%;
    height: 390px;
    margin-bottom: 0;
  }
  .activity-tips .activity-tips-list-item {
    margin-bottom: 10px;
  }
  .activity-price-wrap .pc-activity-price {
    display: none;
  }
  .activity-price-wrap .m-activity-price {
    display: inline-block;
  }
  .ap-buy-position .ap-buy-block {
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;
    width: 100vw;
  }
  .activity-price-wrap {
    font-size: 0;
  }
  .activity-price em {
    color: #F53121;
    font-size: 41px;
  }
  .activity-price span {
    color: #F53121;
  }
  .ap-buy-block .buy-now-btn {
    width: 124px;
    height: 44px;
    font-size: 16px;
    line-height: 40px;
    flex-shrink: 0;
  }
  .ap-buy-block .buy-class-tips {
    display: none;
  }
  .confirm-buy-dialog {
    width: 360px;
  }
  .confirm-buy-content p {
    font-size: 18px;
    width: calc(360px - 150px - 26px - 10px);
  }
}
/* 12px 0.21428rem */
@media screen and (max-width: 400px) {
  .m-course-info .m-course-name{
    font-size: 0.14999rem;
  }
  .ap-course-content {
    height: auto;
    margin-top: 45px;
  }
  .m-course-message .m-course-choose {
    width: 0.4124rem;
  }
  .m-course-message .m-course-duration {
   font-size: 0.11250rem; 
  }
  .m-ap-course-item .m-course-introduce {
    font-size: 0.11250rem;
  }
  .activity-tips-list {
    font-size: 0.13124rem;
  }
  .activity-price {
    font-size: 0.11249rem;
  }
  .activity-price-wrap .tips-icon {
    font-size: 0.11250rem;
    width: 0.71249rem;
  }
  .activity-price span {
    font-size: 0.13124rem;
  }
  .activity-price-wrap .activity-price em{
    font-size: 0.29062rem;
  }
  .ap-buy-block .buy-now-btn {
    font-size: 0.14999rem;
  }
  .confirm-buy-content p {
    font-size: 18px;
  }
  
/* 106.667 */
}